[submodule "kicad-keyboard-parts.pretty"]
	path = kicad-keyboard-parts.pretty
	url = https://github.com/swampmonster/kicad-keyboard-parts.pretty
[submodule "MX_Alps_Hybrid"]
	path = MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
